body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(200, 165, 94);
}

.loading{
    display: flex;
justify-content: center;
padding-top:  350px;
}
.loader {
    width: 120px;
    height: 75px;
    display:  flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
   
    
}
.loader span {
    font-size: 22px;
    text-transform: uppercase;
    margin: auto;
}
.ball
{
    background-color: rgb(0, 0, 0);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    animation: bounce .5s alternate infinite;
}
.ball:nth-child(2) {
    animation-delay: .16s;
}
.ball:nth-child(3) {
    animation-delay: .32s;
}
@keyframes bounce {
    from{
        transform: scaleX(1.25);
    }
    to{
        transform:
        translateY(-50px) scale(1);
    }
}